.paginateDetails {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}

.paginateDetails div {
    background-color: transparent;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}